<footer class="myFooter">
        <div class="myFooterNav">
            <a href="#">Back to the Top</a>
            <a href="#">FAQ</a>
            <a href="#">Contact</a>
        </div>
    </footer>