{% extends 'base.html.twig' %}

{% block title %}
	{% if searchQuery is defined and searchQuery%}
		"{{ searchQuery }}" Search Results
	{% elseif category is defined and category %}
		{{ category }} Events
	{% else %}
		All Events
	{% endif %}	
{% endblock %}


{% block body %}

	<h1 id="events-title" style="color: #ff19be; text-align: center;">
        {% if category is defined and category %}
            {{ category|upper }} EVENTS
        {% else %}
            ALL EVENTS
        {% endif %}
	</h1>
    
    <div id="events-grid" class="myGrid">
        {% include 'events/_event_grid.html.twig' %}
	</div>

{% endblock %}
