{% extends 'base.html.twig' %}

{% block title %}Create Event
{% endblock %}

{% block body %}

	{% include 'components/navbar.html.twig' %}

	<div class="myForm">
		<div class="formContainer">
			<h1 style="text-align: center">CREATE NEW EVENT</h1>
			{{ include("events/_form.html.twig") }}

			<a class="myButton" href="{{ path('app_events_index') }}">back to events</a>
		</div>
	</div>

	{% include 'components/footer.html.twig' %}

{% endblock %}
